<h2>{{agency.agencyName}}'s Details</h2>
<h3>Phone #: {{agency.phone}}</h3>
<h2>Address:</h2>
<h3>{{agency.address.streetNumber}} {{agency.address.streetName}}{{#if agency.address.aptNumber}} #{{agency.address.aptNumber}} {{/if}}</h3> 
<h3>{{agency.address.city}}, {{agency.address.state}} {{agency.address.zip}}</h3>







<hr>
<h3>Dog's For Adoption</h3>

{{#if agency.dogs}}
{{#each agency.dogs}}
<h4><a href="/dogs/details/{{this._id}}">{{this.name}}</a></h4>
<p>Color: {{this.color}}</p>
<hr>
{{/each}}
{{else}}
<h4>No dogs currently available for adoption</h4>
{{/if}}


{{!-- <h3>Siblings:</h3>
<ul>
  {{#each dog.siblings}}
  <li>
    <h4>{{name}}</h4>
  </li>
  {{/each}}
</ul> --}}



{{!-- when figure out show siblings --}}
{{!-- <hr>
<h4>Siblings:</h4> --}}
{{!-- {{#if this.siblings}}
{{#each this.siblings}}
  <li>
    <h5><a href="/dogs/details/{{this._id}}">{{this.name}}</a></h5>
  </li>
  {{/each}}
{{else}} <h4>{{this.name}} has no siblings</h4>
{{/if}} --}}






<button><a href="/adopt/edit/{{agency._id}}">Edit</a></button>
<br>
<button><a href="/adopt/delete/{{agency._id}}">Delete</a></button>