<h2>Edit Adoption Agency</h2>
<hr>
<br>

<form action="/adopt/edit/{{agency._id}}" method="POST">
  <label for="agencyNameInput">Agency Name: <input id="agencyNameInput" type="text" required name="agencyName"
      value="{{agency.agencyName}}"></label>
  <br>
  <br>
  <label for="agencyPhoneInput">Phone #: <input id="agencyPhoneInput" type="tel" maxlength="10" required name="phone"
      value="{{agency.phone}}"></label>
  <br>
  <br>
  <label for="adoptStreetNumberInput">Street Number: <input id="adoptStreetNumberInput" type="text" required
      name="streetNumber" value='{{agency.address.streetNumber}}'></label>
  <label for="adoptAptNumberInput">Apt: <input id="adoptAptNumberInput" type="text" name="aptNumber"
      value='{{agency.address.aptNumber}}'></label>
  <br>
  <br>
  <label for="adoptStreetNameInput">Street Name: <input id="adoptStreetNameInput" type="text" required name="streetName"
      value='{{agency.address.streetName}}'></label>
  <label for="adoptCityInput">City: <input id="adoptCityInput" type="text" required name="city"
      value='{{agency.address.city}}'></label>
  <br>
  <br>
  <label for="adoptCityInput">State: <input id="adoptCityInput" type="text" maxlength="2" required name="state"
      value='{{agency.address.state}}'></label>
  <label for="adoptZipInput">Zip: <input id="adoptZipInput" type="number" max='99999' required name="zip"
      value='{{agency.address.zip}}'></label>
  <br>
  <br>
  <button>UPDATE</button>
</form>

{{#if errorMessage}}
<h4 class='error-message'>*{{errorMessage}}</h4>
{{/if}}